body {
    background-color: bisque;
    padding: 3%;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
.main-box {
    width: 60%;
    height: fit-content;
    padding: 2%;
    border: rgb(17, 1, 1) solid 5px;
    margin: auto;
    margin-top: 150px;
}
.btn {
    border: 2px white solid;
    width: fit-content;
    padding: 3px;
    user-select: none;
}
.btn:hover {
    color: black;
    background-color: white;
}
#alert-modal {
    display: none;
    text-align: center;
    z-index: 1;
    background-color: rgb(23, 185, 137);
    position: fixed;
    top: 15%;
    left: 27%;
    text-overflow: inherit;
    width: 40%;
    height: fit-content;
    padding: 2%;
    border: white solid 5px;
    margin: auto;
}