* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    font-size: 16px;
    text-decoration: none;
}

html.noscroll {
    position: fixed;
    overflow-y: scroll;
    width: 100%;
}


/* css cho trang chủ */

#homepage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: calc(100%-20px);
}


/* css cho header - anh em cop từ đoạn này*/

#homepage--header {
    height:50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: fixed;
    background-color: #ffffff;
    z-index: 100;
}


/* css cho header khi scroll */

.scrollHeader {
    transition: 0.5s;
    box-shadow: 0px 3px 15px rgba(141, 135, 135, 0.336);
}


/* css cho từng thành phần trong header */


/* Left + Right Bar */

.homepage--header__leftNavBar,
.homepage--header__rightNavBar {
    width: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


/* Navigation bar */

.homepage--header__navBar {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    width: 400px;
}

.header--buttonCSS {
    cursor: pointer;
}

.header--buttonCSS:hover,
.underline:hover {
    text-decoration: underline solid 2px;
    text-underline-position: under;
}

.header--buttonCSS.underline {
    text-decoration: underline 2px;
    text-underline-position: under;
}


/* Logo */

.homepage--header__logo {
    font-size: 20px;
    color: brown;
    letter-spacing: 2px;
    font-weight: bolder;
    line-height: 100%;
    font-weight: 600;
    cursor: pointer;
    font-family: serif
}


/* Search icon */

.fa.fa-search {
    cursor: pointer;
}


/* Shopping cart */

.fa.fa-shopping-cart {
    font-size: 28px;
    color: #333;
    cursor: pointer;
    transform: unset;
}

.rightNavBar__cartCount {
    border: 1px solid white;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: chocolate;
    color: white;
    margin-left: -10px;
}


/* Header end */


/* Main */


/* css cho cả khối main */

.homepage--main {
    margin-top: 100px;
    width: 92%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


/* css cho từng khối trong homepage--main */


/* Slide */

#homepage--slide {
    height: 500px;
    width: 98%;
    display: flex;
    cursor: grab;
    position: relative;
}

#homepage--slide:active {
    cursor: grabbing;
}

.slide--image {
    background-size: cover;
    width: 100%;
}


/* .slide--image .slideButton {
    position: absolute;
    top: 235px;
    left: 150px;
    font-size: 15px;
    border: white solid 1px;
    height: 35px;
    width: 170px;
    background-color: transparent;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide--image .slideButton:hover {
    border: brown 1px solid;
    color: brown;
} */


/* css cho 2 nút pre next của slick Jquery của banner */

.slideNext.fa.fa-arrow-right {
    color: burlywood;
    background-color: rgba(255, 255, 255, 0.075);
    position: absolute;
    z-index: 90;
    font-size: 15px;
    top: 232px;
    right: 0;
    cursor: pointer;
    border-radius: 50%;
    padding: 12px;
    transition: 0.1s;
    visibility: hidden;
    -webkit-tap-highlight-color: transparent;
}

.slidePre.fa.fa-arrow-left {
    color: burlywood;
    background-color: rgba(255, 255, 255, 0.075);
    position: absolute;
    z-index: 90;
    font-size: 15px;
    top: 232px;
    left: 0;
    cursor: pointer;
    border-radius: 50%;
    padding: 12px;
    transition: 0.1s;
    visibility: hidden;
    -webkit-tap-highlight-color: transparent;
}

.slideNext.fa.fa-arrow-right:hover,
.slidePre.fa.fa-arrow-left:hover {
    background-color: rgba(255, 255, 255, 0.233);
}

.slideNext.fa.fa-arrow-right:active,
.slidePre.fa.fa-arrow-left:active {
    background-color: rgba(255, 255, 255, 0.507);
    transform: scale(1.1);
}


/* css cho dots của slick Jquery */

.slick-dots {
    top: 450px;
}


/* Banner thứ 2 và 2 box con*/

.homepage--main__secondBanner {
    margin-top: 20px;
    height: 340px;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
}

.main--secondBanner__leftBox,
.main--secondBanner__rightBox {
    /* width: calc((100% - 30px)/2); */
    width: 49%;
    background-color: #f2f2f2;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 50px 0;
}

.main--secondBanner__leftBox {
    background: url(../img/banner-halfsize-pendant.jpg) no-repeat;
    width: 49%;
    background-color: #f2f2f2;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 50px 0;
}

.main--secondBanner__rightBox {
    background: url(../img/banner-halfsize-clock-stone.jpg) no-repeat;
    width: 49%;
    background-color: #f2f2f2;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 50px 0;
}


/* css Content cho 2 nhỏ banner của banner thứ 2 và banner thứ 3 bên trái*/


/* Tên danh mục */

.main--banner__boxContent.catelogy,
.fourthBigBanner--intro__title {
    font-size: 16px;
    margin-left: 60px;
    color: #e9af59;
    font-weight: bold;
    letter-spacing: 2px;
}


/* Tên event (sale off hay gì đó)*/

.main--banner__boxContent.event,
.fourthBigBanner--intro__name {
    color: black;
    font-size: 30px;
    margin-left: 60px;
}


/* Nội dung gì gì đó */

.main--banner__boxContent.eventContent,
.fourthBigBanner--intro__content {
    margin-left: 60px;
    margin-right: 60px;
    font-size: 15px;
    word-break: break-word;
}


/* Box chứa nút */

.main--banner__boxContent.button {
    font-size: 14px;
    margin-left: 60px;
    width: 170px;
    height: 35px;
    background-color: transparent;
    cursor: pointer;
    outline-style: none;
    border: 2px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 100%;
}


/* Thẻ link */

.banner--boxContent--link {
    display: flex;
    align-items: center;
    text-decoration: none;
}


/* Tên nút */

.main--banner__boxContent.contentButton {
    font-size: small;
    transition: 0.2s;
}


/* Mũi tên hiệu ứng */

.fa.fa-long-arrow-right {
    transition: 1s;
    display: none;
}


/* Banner thứ 3 */

.homepage--main__thirdBanner {
    margin-top: 30px;
    height: 340px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    width: 100%;
}


/* 3 Box con của banner thứ 3 */

.main--thirdBanner__left {
    width: 49%;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 50px 0;
}

.main--thirdBanner__slideRight {
    width: 49%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.thirdBanner--slideRight__button .fa {
    position: absolute;
    top: calc((100% - 10px)/2);
    height: 10px;
    right: 15px;
    width: 10px;
    font-size: 20px;
    cursor: pointer;
}

.thirdBanner--slideRight__button .fa.fa-chevron-left {
    left: 15px;
}

.thirdBanner--slide__product {
    width: 48%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
}

.thirdBanner--slide__product.right {
    right: 0;
}


/* css cho sản phẩm của slide banner 3 */

.thirdBanner--slide__productImage.left {
    height: 80%;
    background: #f2f2f2 url(../img/box.jpg) no-repeat center;
}

.thirdBanner--slide__productImage.right {
    height: 80%;
    background: #f2f2f2 url(../img/box2.jpg) no-repeat center;
}

.thirdBanner--slide__productName {
    cursor: pointer;
    font-size: 14px;
}

.thirdBanner--slide__productPrice {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    width: 70px;
}

.slide--productPrice__change,
.slide--productPrice__defaut {
    color: rgba(97, 93, 93, 0.74);
}

.slide--productPrice__change {
    text-decoration: line-through 1px;
}


/* Banner thứ 4 */

.homepage--main__fourthBigBanner {
    height: 490px;
    width: 100%;
    background-color: #edead3;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 40px 0
}

.main--fourthBigBanner__intro {
    height: 30%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


/* cac thong so khac da duoc set cung` banner thu 2 va 3 */

.fourthBigBanner--intro__title,
.fourthBigBanner--intro__name,
.fourthBigBanner--intro__content {
    margin: 0;
}

.main--fourthBigBanner__detail {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40%;
    width: 50%;
}

.fourthBigBanner--detail__event {
    height: 80%;
    word-break: break-word;
    flex: 1;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.detail--event.title {
    font-size: 20px;
}

.detail--event.content {
    color: #3a3a3a;
    font-size: 15px;
    height: 50px;
    margin-top: 10px;
}

.detail__event.fa.fa {
    font-size: 40px;
    height: 40%;
    color: rgba(65, 62, 62, 0.815);
}


/* Footer */


/* Set thuộc tính chung */

.homepage--footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 380px;
    background-color: #3a3a3a;
}


/* css cho phần điều hướng của footer*/

.homepage--footer__navigator {
    color: white;
    height: 78%;
    background-color: #3a3a3a;
    display: flex;
    justify-content: space-evenly;
}


/* css cho các danh mục trong phần điều hướng */

.homepage--footer__menu {
    background-color: #3a3a3a;
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    align-items: center;
}


/* css các thuộc tính như chữ, màu chữ trong phần điều hướng */

.footer__menu {
    width: 150px;
    background-color: inherit;
    color: white;
    font-size: small;
    cursor: pointer;
    margin-bottom: 20px;
    transition: 0.2s;
    height: 15px;
}


/* css cho Tiêu đề của danh mục trong phần điều hướng */

.footer__menu.title {
    color: rgb(196, 189, 189);
    margin-top: 55px;
    margin-bottom: 30px;
    font-size: 14px;
    cursor: unset;
}


/* css riêng cho menu bên phải của phần điều hướng */

.homepage--footer__menu.menuRight {
    flex-basis: 30%;
    color: rgb(196, 189, 189);
    /* justify-content: space-between; */
    align-items: flex-start;
}

.footer__menu.content {
    width: 90%;
    margin-bottom: 40px;
    color: rgb(196, 189, 189);
    cursor: unset;
}


/* css cho box con trong right menu của footer */

.footer__menu.form {
    display: flex;
    width: 300px;
    justify-content: space-between;
}

.footer--menu--inputText {
    width: 220px;
    height: 40px;
    outline-style: none;
    border: 1px solid white;
}

.footer--menu--signUpButton {
    height: 40px;
    width: 75px;
    outline-style: none;
    border: 1px solid white;
    background-color: inherit;
    color: white;
    transition: 1s;
    cursor: pointer;
}

.footer--menu--signUpButton:hover {
    color: #a09d9d;
}


/* css cho vạch footer social */

.homepage--footer__social {
    background-color: inherit;
    height: 20%;
    border-top: 1px solid #a09d9d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa.fa-twitter,
.fa.fa-facebook,
.fa.fa-instagram {
    font-size: 30px;
    width: fit-content;
    background-color: inherit;
    color: seashell;
    cursor: pointer;
    margin: 0 10px;
    transition: 0.5s;
}

.fa.fa-twitter:hover,
.fa.fa-facebook:hover,
.fa.fa-instagram:hover {
    transform: scale(1.1);
}


/* Nút kéo lên trên */

.homepage--upButton i {
    position: fixed;
    bottom: 0;
    right: 10px;
    height: 10px;
    width: 10px;
    font-size: 18px;
    cursor: pointer;
    padding: 22px;
    background-color: #ffffff42;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.103);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border 0.5s;
    visibility: hidden;
}

.homepage--upButton i:hover {
    border: 2px solid black;
}

.homepage--upButton.active i {
    transition: 0.5s;
    transform: translateY(-30px);
    visibility: visible;
}

.homepage--upButton.inActive i {
    transition: 0.2s;
    transform: translateY(30px);
    visibility: hidden;
}


/* FORM LOGIN */


/* Khung */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}

.homepage--modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 101;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}


/* Lớp mờ */

.modal--overlay {
    background-color: rgba(167, 167, 167, 0.76);
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: hidden;
}


/* Khung login */

.modal--body {
    height: 500px;
    width: 540px;
    background-color: white;
    position: absolute;
    border-radius: 3px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    --growth-from: 0.8;
    --growth-to: 1;
    animation: growth linear 0.1s;
    box-shadow: 0 0 30px rgba(3, 3, 3, 0.158);
}


/* Khung nhỏ chứa form login và register */

.modal--body__loginInner,
.modal--body__registerInner {
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.modal--body__registerInner {
    z-index: 0;
    display: none;
    height: 85%;
}


/* Tiêu đề */

.modal--body__title {
    font-size: xx-large;
}


/* Khung nhập username và password */

.modal--userLoginInput {
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-between;
}

.modal--userRegisterInput {
    display: flex;
    flex-direction: column;
    height: 180px;
    justify-content: space-between;
}


/* Chỉnh kích thước cho thẻ input username và password */

.modal--userInput {
    height: 40px;
    width: 400px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.295);
    outline-style: none;
}

.modal--userInput.password.confirmFail {
    border-bottom: 1px solid red;
}

.modal--userInput:focus {
    border-bottom: 2px solid black;
}


/* Eyes */

.modal--userInput.passwordContainner {
    position: relative;
}

.modal--eyesContainer {
    height: 100%;
    width: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
}

.modal--eyes {
    height: 20px;
    width: 20px;
    position: absolute;
    cursor: pointer;
}

.modal--eyes.show {
    display: none;
}


/* Phần ghi nhớ tên đăng nhập và quên pass */

.modal--checkBoxOption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    position: relative;
}

.checkBoxOption {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.checkBoxOption.checkBox {
    height: 15px;
    width: 15px;
}

.checkBoxText {
    position: absolute;
    left: 25px;
}


/* Nút login và register */

.btn.modal--login,
.btn.modal--registerButton {
    background-color: black;
    width: 400px;
    height: 50px;
    color: white;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    transition: ease-out 0.8s;
}

.btn.modal--login:hover,
.btn.modal--registerButton:hover {
    background-color: rgba(0, 0, 0, 0.836);
}


/* Nút chuyển trạng thái đã có tài khoản hoặc chưa */

.modal--notMember,
.modal--alreadyMember {
    display: flex;
    justify-content: space-between;
    width: 185px;
}


/* Ghi nhớ tài khoản và quên mật khẩu */

.btn.modal--registerSwitch,
.lostPassword,
.modal--alreadyAccout {
    cursor: pointer;
    color: black;
    font-size: 17px;
}


/* Thong bao sai mat khau va confirm chua chinh xac */

.form-message {
    color: red;
}


/* Close */

.modal--body__close img {
    position: absolute;
    height: 16px;
    width: 16px;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.modal--body__close img:hover {
    transform: scale(1.1);
}